body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 80px;
    /* some padding */
    text-align: center;
    /* center the text */
    background: #1abc9c;
    /* green background */
    color: white;
    /* white text color */
}

.flex-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0px auto;
    /* align-items: center; */
    /* justify-content: center; */
}

.header-container {
    background: white;
    display: flex;
    flex-direction: row;

}

.image {
    background: whitesmoke;
    /* flex-grow: 3; */
    justify-content: center;
    align-items: center;
    /* border: 5px solid black; */
    /* border-color: blueviolet; */
}

.information {
    background: gray;
    flex-grow: 4;
    flex-direction: column;
    /* max-width: 700px; */
    flex-wrap: wrap;
}

.contact-info {
    display: flex;
    flex-direction: row;
    background: whitesmoke;
    /* max-width: 700px; */
    /* justify-content: space-between; */
}

.info-item {
    /* margin: 2; */
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 15px;
}

.body-container {
    background: blue;
    display: flex;
    flex-direction: row;

}

.left-body-container {
    background: yellow;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.right-body-container {
    background: green;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.item {
    background: paleturquoise;
    margin: 10px;
    padding: 0px 20px;
}

.item p {
    font-weight: 600;
    margin-bottom: 5px;
}

.shapeContainer {
    /* width: 90%;  */
    border-top: 4px solid;
    margin-bottom: 15px;
}

.shortShape {
    border-top: 40px solid;
    border-right: 20px solid transparent;
    /* background: yellow; */
    height: 0px;
    width: 300px;
    position: relative;
    /* background: black; */
}

.mediumShape {
    border-top: 40px solid;
    border-right: 20px solid transparent;
    /* background: yellow; */
    height: 0px;
    width: 400px;
    position: relative;
    margin-bottom: 40px;
    /* background: black; */
}

.longShape {
    border-top: 40px solid;
    border-right: 20px solid transparent;
    /* background: yellow; */
    height: 0px;
    width: 450px;
    position: relative;
}

.textInShape {
    color: white;
    position: absolute;
    top: -41px;
    left: 10px;
    font-weight: bold;
    font-size: 25px;
}

.fullSkill {
    background: whitesmoke;
    width: 500px;
    height: 10px;
    border-width: 2px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.skillLevel {
    background: black;
    width: 250px;
    height: 10px;
    border-width: 2px;
    border-radius: 4px;
    margin-bottom: 10px;
}



